/* 
    General Styles
*/
body {
    background-image: url("https://thenerdsofcolor.files.wordpress.com/2020/01/ppcbvourk4u31.jpg");
}

   
.navbar{
    background-image: url("https://images5.alphacoders.com/926/thumb-1920-926391.png");
}
.fab {
    font-size: 55px;
}

h1 {
    color: red;
    position: relative;
    left: 10px
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}


.cartaInicio {
    width: 18rem;
	margin: 10px;
	justify-Content: space-between;
};

.items-content {
    overflow-x: auto;
     align-self: flex-start
   
}

.cartaPersonajes {
    position: relative;
    left: 500px;
   width: 600px;
   height: 500px;


}

.cartaPlanetas {
    position: relative;
    left: 500px;
    width: 600px;
    height: 500px;
}
